#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$.cCopA7O8qEtk4U4$NXTkChyXLDTkx2gXxtUutNrUSqIcqHV88bM8IooDr1OqLEk/FHlcS8IPn055Gy.v86tB6vUPB0Sa3h4ZLfo14/
# System services
services --disabled="chronyd"
# System timezone
timezone Africa/Lagos --isUtc --nontp
user --name=kubeadmin --password=$6$UigOMF218NmSyN1C$47wDwAFuJrxX/1lPGPQBowBJ.jmbTvnoKsDIh.lbofSFkSY2JvTbHJNhlHXiw8SwlELfoBWrbTY2Rkv2w6iR0. --iscrypted --gecos="kubeadmin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^infrastructure-server-environment
@base
@compat-libraries
@core
@debugging
@development
@large-systems
@performance
@security-tools
@system-admin-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
